<%- include('partials/header.ejs') %>

<div id="grid-container">
  <div id="grid">
    <div id="uv-container">
      <h2>Current UV: <span id="index-level"><%= data.uv %></span></h2>
      <p id="spf-indicator"><%= message %></p>
      <hr />
      <p id="location">📍 <%= location %></p>
      <p id="date-time">📅 <%= time %></p>
    </div>
    <div id="sun-exposure-container">
      <p class="main-title">
        Estimated Sun Exposure Before <span id="burning">Burning</span>
      </p>
      <section id="sun-exposure-grid">
        <section id="exposure-time-container">
          <p class="title">Skin Type</p>
          <p>
            Type 1
            <svg
              viewBox="0 0 24 24"
              width="16px"
              height="16px"
              fill="#FFE0CC"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <path
                  d="M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                  stroke="#000000"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </g>
            </svg>
          </p>
          <p>
            Type 2
            <svg
              viewBox="0 0 24 24"
              width="16px"
              height="16px"
              fill="#FCD5B5"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <path
                  d="M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                  stroke="#000000"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </g>
            </svg>
          </p>
          <p>
            Type 3
            <svg
              viewBox="0 0 24 24"
              width="16px"
              height="16px"
              fill="#E1B899"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <path
                  d="M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                  stroke="#000000"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </g>
            </svg>
          </p>
          <p>
            Type 4
            <svg
              viewBox="0 0 24 24"
              width="16px"
              height="16px"
              fill="#C68642"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <path
                  d="M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                  stroke="#000000"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </g>
            </svg>
          </p>
          <p>
            Type 5
            <svg
              viewBox="0 0 24 24"
              width="16px"
              height="16px"
              fill="#8D5524"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <path
                  d="M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                  stroke="#000000"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </g>
            </svg>
          </p>
          <p>
            Type 6
            <svg
              viewBox="0 0 24 24"
              width="16px"
              height="16px"
              fill="#5C4033"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <path
                  d="M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                  stroke="#000000"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </g>
            </svg>
          </p>
        </section>
        <section id="skin-type-container">
          <p class="title">Safe Exposure Time</p>
          <% if(!burnTime) { %> <%Object.keys(burnTime).forEach((key) => { %>
          <p>
            <%= burnTime[key] >= 60 ? `${(burnTime[key] / 60).toFixed(2)} Hr` :
            `${burnTime[key]} Min` %>
          </p>
          <% }) %> <% } else {%> <% Object.keys(burnTime).forEach((key) => { %>
          <p>No burn</p>
          <% }) %> <% } %>
        </section>
      </section>
    </div>
    <div id="sun-phase-container">
      <p class="main-title">Today's Sun Schedule</p>
      <section id="sun-phase-grid">
        <section id="sun-phase">
          <p class="title">Sun Phase</p>
          <p>Sunrise</p>
          <p>Solar Noon</p>
          <p>Golden Hour</p>
          <p>Sunset</p>
        </section>
        <section id="sun-time">
          <p class="title">Time (Local)</p>
          <p><%= sunPhaseTime.fsunrise %></p>
          <p><%= sunPhaseTime.fsolarNoon %></p>
          <p><%= sunPhaseTime.fgoldenHour %></p>
          <p><%= sunPhaseTime.fsunset %></p>
        </section>
      </section>
    </div>
  </div>
</div>

<%- include('partials/footer.ejs') %>
